* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "anime_ace_2.0_bbregular";
  src: url("./animeace2reg-webfont.woff2") format("woff2"), url("./animeace2reg-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  max-width: 1600px;
  width: 100vw;
}

#containerGrid {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-content: center;
  width: 95%;
  margin: auto;
}

.container {
  width: 98vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: stretch;
  z-index: 1;
  background-color: rgba(241, 200, 13, 0.63);
  border-radius: 0 25px;
  box-shadow: 4px 6px 9px #5c3e06;
  position: relative;
  padding: 0.5em;
}
.container:hover {
  opacity: 1;
}
.container .pokeButtonSide {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 33%;
  margin-top: 5px;
  transition: 0.1s;
  position: relative;
  /* vignettes */
  /* compteur de bonus*/
  /* Affichage prix */
}
.container .pokeButtonSide .pokeImage .active {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.container .pokeButtonSide .pokeImage .active canvas {
  width: 70%;
  border-radius: 50%;
  background-color: #000;
  -webkit-box-shadow: 0px 0px 22px 2px #fdfdfd, 0px 0px 22px 3px #f8f0d6;
  -moz-box-shadow: 0px 0px 22px 2px #fdfdfd, 0px 0px 22px 3px #f8f0d6;
  box-shadow: 0px 0px 22px 2px #fdfdfd, 0px 0px 22px 3px #f8f0d6;
}
.container .pokeButtonSide .pokeImage .active canvas:active {
  transform: scale(0.9);
}
.container .pokeButtonSide .pokeImage .inactive {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.container .pokeButtonSide .pokeImage .inactive canvas {
  width: 70%;
  border-radius: 50%;
  background-color: #000;
  -webkit-box-shadow: 0px 0px 22px 2px #fdfdfd, 0px 0px 22px 3px #f8f0d6;
  -moz-box-shadow: 0px 0px 22px 2px #fdfdfd, 0px 0px 22px 3px #f8f0d6;
  box-shadow: 0px 0px 22px 2px #fdfdfd, 0px 0px 22px 3px #f8f0d6;
}
.container .pokeButtonSide .pokeImage .inactive canvas:active {
  transform: scale(0.9);
}
.container .pokeButtonSide #multiActive {
  display: none;
}
.container .pokeButtonSide #autoclicActive {
  display: none;
}
.container .pokeButtonSide #boostActive {
  display: none;
}
.container .pokeButtonSide .font {
  margin: 0.4em;
  display: flex;
  justify-content: stretch;
  align-content: stretch;
}
.container .pokeButtonSide .font img {
  margin: auto;
  width: 100%;
}
.container .pokeButtonSide #multiplication {
  background-color: red;
  border-radius: 50%;
  width: 20%;
  height: 8%;
  color: white;
  position: absolute;
  top: 5%;
  right: 20%;
  text-align: center;
  line-height: 2.5em;
  display: none;
}
.container .pokeButtonSide #autoClicker {
  background-color: red;
  border-radius: 50%;
  width: 20%;
  height: 8%;
  color: white;
  position: absolute;
  top: 5%;
  right: 20%;
  text-align: center;
  line-height: 2.5em;
  display: none;
}
.container .pokeButtonSide #booster {
  background-color: red;
  border-radius: 50%;
  width: 20%;
  height: 8%;
  color: white;
  position: absolute;
  top: 5%;
  right: 20%;
  text-align: center;
  line-height: 2.5em;
  display: none;
}
.container .pokeButtonSide .prix {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 0;
  padding: 6px;
  width: 85%;
  opacity: 0.8;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 0.7em;
  color: black;
  text-shadow: -1px -1px 1px #111;
  box-shadow: 1px 1px 6px #111;
  border-radius: 45%;
}
.container .pokeButtonSide #prMultiplication {
  background-color: saddlebrown;
}
.container .pokeButtonSide #prAutoclicker {
  background-color: silver;
}
.container .pokeButtonSide #prBooster {
  background-color: rgba(241, 200, 13, 0.863);
}

#clic {
  grid-area: clic;
  max-width: 350px;
  width: 50%;
  height: 50%;
  margin: 0 auto 10%;
  border-radius: 50%;
}
#clic #mainPokeballCanvas {
  width: 100%;
  margin: auto;
  position: relative;
  top: 2px;
  background-color: #000;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 62px 4px #f1bc1b, 0px 0px 62px 8px #f4c847, 0px 0px 62px 16px #e6ca78;
  -moz-box-shadow: 0px 0px 62px 4px #f1bc1b, 0px 0px 62px 8px #f4c847, 0px 0px 62px 16px #e6ca78;
  box-shadow: 0px 0px 62px 4px #f1bc1b, 0px 0px 62px 8px #f4c847, 0px 0px 62px 16px #e6ca78;
}
#clic:active {
  transform: scale(0.9);
}

.i-large {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -2;
}

.i-large {
  background: url("./pikachupluspetit.svg") repeat 0px 0px;
  -webkit-animation: dropFlowParticles 25s linear infinite;
  -o-animation: dropFlowParticles 25s linear infinite;
  animation: dropFlowParticles 25s linear infinite;
}

@-webkit-keyframes dropFlowParticles {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 800px;
  }
}
@keyframes dropFlowParticles {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 800px;
  }
}
#divAff {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin: 1em auto 2em;
  padding: 0.8em;
  width: 90vw;
  min-height: 5em;
  background: linear-gradient(176deg, #f1c80da1 0%, #e91212ab 100%);
  box-shadow: 4px 6px 9px #5c3e06;
  border-radius: 25px 0;
  background-color: rgba(255, 255, 255, 0.8);
}
#divAff #affichage {
  font-family: "anime_ace_2.0_bbregular", Arial, sans-serif;
  font-size: 1em;
  margin: 0.5em auto;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, 1px 1px 2px #141414, 1px 1px 3px #141414, 1px 1px 5px #141414, 1px 1px 7px #141414, 1px 1px 10px #141414, 1px 1px 12px #141414, 1px 1px 18px #141414;
}
#divAff #quoteDisplay {
  color: #222219;
  margin: 0.5em auto;
  font-family: "Press Start 2P", cursive;
  font-size: 0.5em;
}

@media screen and (min-width: 500px) and (max-width: 1100px) {
  .container {
    border-radius: 65px 0;
    margin: 1em;
  }
  .container .pokeButtonSide .prix {
    margin: 0.2em;
    font-size: 1.4em;
  }

  #clic {
    margin: 12% auto 12%;
  }

  #divAff {
    border-radius: 65px 0;
  }
}
@media screen and (min-width: 1100px) {
  #containerGrid {
    height: 100%;
    overflow: hidden;
    width: 100%;
    display: grid;
    grid-template-areas: "score score" "clic bonus";
    grid-template-columns: 60% 40%;
    grid-template-rows: 16% 84%;
  }

  #divAff {
    grid-area: score;
    width: 98vw;
    margin: 1em auto 0.8em;
  }
  #divAff #affichage {
    font-size: 1.8em;
  }
  #divAff #quoteDisplay {
    font-size: 0.8em;
  }

  #clic {
    grid-area: clic;
    margin: 10% auto;
    width: 50%;
  }

  .container {
    grid-area: bonus;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    width: 97.5%;
    padding: 5% 0 0 5%;
  }
  .container .pokeButtonSide {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    margin: 2em;
    width: 80%;
  }
  .container .pokeButtonSide .pokeImage .active canvas {
    width: 300%;
  }
  .container .pokeButtonSide .pokeImage .inactive canvas {
    width: 300%;
  }
  .container .pokeButtonSide #multiplication {
    left: 3em;
    height: 20%;
    width: 10%;
    line-height: 1.5em;
  }
  .container .pokeButtonSide #autoClicker {
    left: 3em;
    height: 20%;
    width: 10%;
    line-height: 1.5em;
  }
  .container .pokeButtonSide #booster {
    left: 3em;
    height: 20%;
    width: 10%;
    line-height: 1.5em;
  }
  .container .pokeButtonSide .prix {
    font-size: 1.5em;
    position: relative;
    top: 1em;
    right: 2em;
  }
  .container .pokeButtonSide .font {
    position: relative;
    left: 4em;
    top: -2.5em;
  }
  .container .pokeButtonSide .font img {
    width: 250%;
    height: 150%;
  }
}

/*# sourceMappingURL=style.css.map */
