
  body{
    width: 100%;
    margin: 0;
    
  }

  .container {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-around;
    text-align: center;
    z-index: 1;
    .pokeButtonSide {
      max-width: 100px;
      min-width: 80px;
      transition: 0.1s;
      .pokeImage{
        width: 100%
      }
      &:active {
        font-size: 1em;
        color: rgb(233, 51, 27);
        transform: scale(6.1);
      }
      #multiplication{
        background-color: red;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        color: white;
        position: relative;
        top: -80%;
        left: 80%;
        text-align: center;
        line-height: 17px;
      }
    }
  }
   
  img {
    width:100%;
    height:100%;
   
  }

  // .pokeball {
  //   z-index: 9999!important;
  // }
  #clic {
    max-width: 350px;
    margin: 10px auto;
    &:active {
      transform: scale(0.9);
    }

  }
     
  .i-large {
    position : absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -2;
  }
   
  .i-large {
    background: url("./pikachupluspetit.svg") repeat 0px 0px;
    -webkit-animation: dropFlowParticles 6s linear infinite;
         -o-animation: dropFlowParticles 6s linear infinite;
            animation: dropFlowParticles 6s linear infinite;
  }
    
  @-webkit-keyframes dropFlowParticles {
    from { background-position: 0 0; }
    to { background-position: 0 800px; }
  }
  @keyframes dropFlowParticles {
    from { background-position: 0 0; }
    to { background-position: 0 800px; }
  }


  .disabled{
    visibility: hidden;
  }

	
// test
