
  img.pokeball {
    display:block;
    width: auto;
    margin-left:auto;
    margin-right:auto;
  }

  .container {
    width: auto;
    margin: auto;
    padding: auto;
    display: flex;
    align-content: center;
    justify-content: space-around;
    text-align: center;

     
    }

  img {
    width:50%;
    height:50%;
   
  }
 
  .pokeButtonSide {

    &:active {
      font-size: 1em;
      color: rgb(233, 51, 27);
      transform: scale(1.1);
    }
  }

  #clic {

    &:active {
      transform: scale(0.9);
    }

  }
  
	
    